* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

body {
  background-color: #f0f0f0;
}

.leaderboard__header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
  border-radius: 5px 5px 0 0;
}

.leaderboard {
  font-size: 70px;
  font-weight: 600;
}

.leaderboard__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}

.leaderboard__section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaderboard__title {
  font-size: 30px;
  padding: 10px 0;
  margin-right: 10px;
}

.leaderboard__refresh,
.leaderboard__submit {
  background-color: #333;
  border: 2px solid gray;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.leaderboard__submit {
  align-self: flex-end;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.leaderboard__submit:hover,
.leaderboard__refresh:hover {
  background-color: #222;
}

.leaderboard__table {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.leaderboard__table li {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.leaderboard__table li:last-child {
  border-bottom: none;
}

.leaderboard__table li:nth-child(even) {
  background-color: #f8f8f8;
}

.leaderboard__table li:nth-child(odd) {
  background-color: #fff;
}

.leaderboard__score {
  font-weight: 600;
}

.leaderboard__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

input::placeholder {
  color: #999;
}
